* {
margin: 0;
padding: 0;
font-family: Arial, Helvetica, sans-serif;
}



/* REQUIRED */
main {
display: flex;
flex-direction: row;
align-items: center;
gap: 20px;
}

section {
background-color: var(--primary-colour);
margin: 6px;
color: var(--trietary-colour);
padding: 10px;
flex: 1;
/*min-*/height: 300px;
border-radius: 10px;
box-shadow: var(--primary-shadow) 5px 5px 0;
/*min-*/width:500px;
}

img {
    display: flex;
    align-self: center;
    justify-self: center;
}